@import "tailwindcss";

@layer base {
  body {
    background-color: #020205;
    margin: 0;
    overflow: hidden;
    color: white;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
